{% extends "general/layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Modificar Autor" %}{% endblock %}

{% block h1_title %}{% trans "Modificar Autor" %}{% endblock %} 

{% block page_content %}
        <h2> {% trans "Datos del Autor "%}{{ autor.id }}</h2>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>{% trans "Actualizar" %}</button>
            <button><a href={% url 'autor:detail' object.pk %}>{% trans "Cancelar" %}</a></button>
        </form> 

{% endblock %}
