{% extends "general/layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Pagina de Autores" %}{% endblock %}

{% block h1_title %}{% trans "Pagina de Autores" %}{% endblock %} 

{% block page_content %}

    <ul>
        <li> <a href={% url "autor:create" %}>{% trans "Añadir nuevo Autor" %}</a></li>
    </ul>

    <h2>{% trans " Los autores son :" %}</h2>
    <ul>
        {% for autor in autores %}
            <li> <a href={% url 'autor:detail' autor.pk %}> {{ autor.nombre }} </a></li>
        {% endfor %}
    </ul>
{% endblock %}

