{% extends "general/layout.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}Detalle de Autores{% endblock %}

{% block h1_title %}Detalle de Autores{% endblock %} 

{% block page_content %}

    <article id="{{ autores.pk }}">

        {% if autores %}
                <h2> {% trans "Nombre del autor: " %}{{autores.nombre}} </h2>
                <p>{% trans "Id del Autor: "%}{{ autores.id }}  </p>
                <p> {% trans "La fecha de nacimiento: " %}{{autores.fecha_nacimiento}}  </p>

                <p>{% trans "Volver a la " %}<a href={% url 'autor:list' %}> {% trans "lista de autores" %}</a></p>
                {% else %}
            <h2> {% trans "No se ha encontrado el Autor que buscabas" %}</h2>
            <p>{% trans "puedes probar de nuevo en la " %}<a href={% url 'autor:list' %}> {% trans "lista de autores" %}</a></p>
        {% endif %}
        {% if autores.created_by == request.user %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-info"><a href={% url "autor:update"  autores.pk %}>{% trans "Editar Autor"%}</a></button> 
                <button class="btn btn-warning"> <a href={% url "autor:delete"  autores.pk %}>{% trans "Borrar Autor"%}</a></button>
            </form>
        {% endif %}
        </article>

{% endblock %}
