{% extends "general/layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Actualizar Libro" %}{% endblock %}

{% block h1_title %}{% trans "Actualizar Libro" %}{% endblock %} 

{% block page_content %}
        <h2> {% blocktrans %}Datos del Libro {{ libro.id }}{% endblocktrans %}</h2>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>{% trans "Actualizar" %}</button>
            <button><a href={% url 'libro:detail' object.pk %}>{% trans "Cancelar" %}</a></button>
        </form> 

{% endblock %}