{% extends "general/layout.html" %}

{% block head_title %}Detalle de Libros{% endblock %}

{% block h1_title %}Detalle de Libros{% endblock %} 

{% block page_content %}
    <article id="{{ libros.pk }}">
        {% if libros %}
            <h2> Titulo: {{ libros.titulo }}</h2>
            <p>Numero isbn: {{ libros.isbn }} </p>
            <p> La fecha de publicacion: {{libros.fecha_publicacion}} </p>
            <p>Volver a la <a href={% url 'libro:list' %}> lista de Libros</a></p>
        {% else %}
            <h2> No se ha encontrado el libro que buscabas</h2>
        {% endif %}
        <button> <a href={% url "libro:update"  libros.pk %}>Editar Libro</a></button>
        <button> <a href={% url "libro:delete"  libros.pk %}>Borrar Libro</a></button>

    </article>

{% endblock %}
