{% extends "general/layout.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Detalle de Libros" %}{% endblock %}

{% block h1_title %}{% trans "Detalle deLibros" %} {% endblock %} 

{% block page_content %}
    <article id="{{ libros.pk }}">
        {% if libros %}
            <h2> {% trans "Titulo: " %}{{ libros.titulo }} </h2>
            <p>{% trans "Numero isbn: " %}{{ libros.isbn }} </p>
            <p> {% trans "La fecha de publicacion: " %}{{libros.fecha_publicacion}} </p>
            <p> {% trans "Descripcion del libro: " %}{{ libros.descripcion}} </p>
            <p>{% trans "Volver a la " %}<a href={% url 'libro:list' %}>{% trans "lista de Libros" %}</a></p>
        {% else %}
            <h2>{% trans " No se ha encontrado el libro que buscabas" %}</h2>
        {% endif %}
        {% if libros.created_by == request.user %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-info"> <a href={% url "libro:update"  libros.pk %}>{% trans "Editar Libro" %}</a></button>
                <button class="btn btn-warning"> <a href={% url "libro:delete"  libros.pk %}>{% trans "Borrar Libro" %}</a></button>
            </form>
        {% endif %}
        </article>

{% endblock %}
