<ul>
    <li><a href={% url 'home' %}>Inicio</a>
    <li><a href={% url 'autor:list' %}>Autores</a>
    <li><a href={% url 'libro:list' %}>Libros</a>
    <li><a href={% url 'editorial:list' %}>Editoriales</a>
    <li><a href={% url 'search' %}>Buscar</a>
    <li><a href={% url 'contacto' %}>Contacto</a>
    {% if request.user.is_authenticated %}
        <li><a href={% url "user:logout" %}>Cerrar Sesion</a></li></ul>
        <h2>Hola {{ request.user }} Bienvenido </h2>
    {% else %}
        <li><a href={% url "user:registro" %}>Registro</a></li>
        <li><a href={% url "user:login" %}>Login</a></li>
    {% endif %}
    
</ul>
