{% load i18n %}

<ul>
    <li><a href={% url 'home' %}>{% trans "Inicio" %} </a>
    <li><a href={% url 'autor:list' %}>{% trans "Autores" %}</a>
    <li><a href={% url 'libro:list' %}>{% trans "Libros" %}</a>
    <li><a href={% url 'editorial:list' %}>{% trans "Editoriales" %}</a>
    <li><a href={% url 'search' %}>{% trans "Buscar" %}</a>
    <li><a href={% url 'contacto' %}>{% trans "Contacto"%}</a>

    {% if usuario_logueado %}
        <li type="submit"><a href={% url "user:logout" %}>{% trans "Cerrar Sesion" %}</a></li>
        <form method="POST" action="{% url 'user:logout' %}">
            {% csrf_token %}
        </ul>
            <p> <strong>{% trans "Bienvenido " %}{{ usuario_logueado }} </strong></p>
        </form>
    {% else %}
            <li><a href={% url "user:registro" %}>{% trans "Registro" %}</a></li>
            <li><a href={% url "user:login" %}>{% trans "Login" %}</a></li>
        </ul>
    {% endif %}

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% for lang_code, lang_name in LANGUAGES %}
                <option value="{{ lang_code }}" {% if LANGUAGE_CODE == lang_code %}selected{% endif %}>{{ lang_name }} ({{ lang_code }})</option>
            {% endfor %}
        </select>
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">{% trans "Cambiar Idioma" %}</button>
    </form>
    
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<hr>

