asgiref==3.8.1
Django==5.1.1
django-debug-toolbar==4.4.6
django-extensions==3.2.3
pydot==3.0.1
pyparsing==3.1.4
sqlparse==0.5.1
django-rosetta==0.10.1
tox==4.23.2
django-modeltranslation==0.19.10
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
