{% extends "general/layout.html" %}

{% load i18n %}

{% block head_title %}{% trans"Login" $}{% endblock %}

{% block h1_title %}{% trans"Login" $}{% endblock %} 

{% block page_content %}

  {% load static %}

  {% if error_message %}
  <p style="color: red;"> {{ error_message }} </p>
  {% endif %}
  {% if request.user.is_authenticated %}
    <h2> {% blocktrans %}Usuario {{ user }} logeado correctamente{% endblocktrans %}</h2>
    {% else %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button> {% trans"Enviar" $} </button>
      </form>
  {% endif %}

{% endblock %}
