{% extends "general/layout.html" %}

{% block head_title %}Pagina de Editoriales{% endblock %}

{% block h1_title %}Pagina de Editoriales{% endblock %} 

{% block page_content %}
    <ul>
        <li> <a href={% url "books:editorial_create" %}>Añadir nueva Editorial</a></li>
    </ul>

    <h3> Lista completa de Editoriales</h3>
    <ul>
        {% for editorial in editoriales %}
            <li> <a href={% url 'books:editorial_detail' editorial.pk %}> {{ editorial.nombre }} </a></li>
        {% endfor %}
    </ul>

{% endblock %}
