{% extends "general/layout.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Actualizar Editorial" %}{% endblock %}

{% block h1_title %}{% trans "Actualizar Editorial" %}{% endblock %} 

{% block page_content %}
        <h2>{% trans "Datos del Libro " %}{{ editorial.id }} </h2>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-info">{% trans "Actualizar" %}</button>
            <button class="btn btn-danger"><a href={% url 'editorial:detail' object.pk %}>{% trans "Cancelar" %}</a></button>
        </form> 

{% endblock %}
