{% extends "general/layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Pagina de Editoriales" %}{% endblock %}

{% block h1_title %}{% trans "Pagina de Editoriales" %}{% endblock %} 

{% block page_content %}
    <ul>
        <li> <a href={% url "editorial:create" %}>{% trans "Añadir nueva Editorial" %}</a></li>
    </ul>

    <h3> {% trans "Lista completa de Editoriales" %}</h3>
    <ul>
        {% for editorial in editoriales %}
            <li> <a href={% url 'editorial:detail' editorial.pk %}> {{ editorial.nombre }} </a></li>
        {% endfor %}
    </ul>

{% endblock %}
